<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      服务内容
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-list no-lines class="repair-form">
      <ion-item>
        <ion-label stacked>服务内容</ion-label>
        <ion-textarea [(ngModel)]="data.cleanmsg" readonly></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>
          <img src="assets/img/xtb_1.png">
          联系电话
        </ion-label>
        <ion-input [(ngModel)]="data.phone" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <img src="assets/img/xtb_2.png">
          联系人
        </ion-label>
        <ion-input [(ngModel)]="data.name" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <img src="assets/img/xtb_3.png">
          服务地址
        </ion-label>
        <ion-input [(ngModel)]="data.house" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <img src="assets/img/xtb_4.png">服务时间
        </ion-label>
        <ion-input [(ngModel)]="data.needcleantime" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="justify-content: flex-end;color: #000" *ngIf="data.inhome">业主在家</ion-label>
        <ion-label style="justify-content: flex-end;color: #000" *ngIf="!data.inhome">业主不在家</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          服务价格(元)
        </ion-label>
        <ion-input [(ngModel)]="data.price" *ngIf="data.cleaner" readonly></ion-input>
        <ion-input [(ngModel)]="formData.price" placeholder="请输入服务价格" *ngIf="!data.cleaner"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          服务人员
        </ion-label>
        <ion-input [(ngModel)]="data.cleaner" *ngIf="data.cleaner" readonly></ion-input>
        <ion-input [(ngModel)]="formData.cleaner" placeholder="请输入服务人员姓名" *ngIf="!data.cleaner"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          联系方式
        </ion-label>
        <ion-input [(ngModel)]="data.cleanerphone" *ngIf="data.cleaner" readonly></ion-input>
        <ion-input [(ngModel)]="formData.cleanerphone" placeholder="请输入服务人员联系方式" *ngIf="!data.cleaner"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>处理结果</ion-label>
        <ion-textarea [(ngModel)]="data.domsg" *ngIf="data.cleaner" readonly></ion-textarea>
        <ion-textarea [(ngModel)]="formData.domsg" *ngIf="!data.cleaner"></ion-textarea>
      </ion-item>
    </ion-list>

  <div class="single-row" *ngIf="!data.cleaner">
    <button ion-button (click)="onClickSubmit()">提交</button>
  </div>
</ion-content>
