mailReceive {

  ion-content {
    background-color: #fff!important;
  }
  ion-list {
    ion-item {
      font-size: 1.4rem!important;
      ion-checkbox {
        position: relative!important;
        margin: 0!important;
        display: inline-block!important;
      }
    }
  }
  ion-grid {
    text-align: center;
    ion-row:first-of-type {
      background-color: #eee;
      font-size: 1.4rem;
      color: #2d2d2d;
    }

    ion-row {
      &:nth-of-type(even) {//奇数选择器
        background-color: #ffffef;
      }
      color: #4d4d4d;
      padding: 0.6rem 0;
      border-bottom: 0.55px #e4e4e4 solid;
    }
  }
  footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 0.55px #e4e4e4 solid;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: #fff;
    .button-ios {
      flex:1;
      margin: 1rem;
    }
  }
}
