appointManage {

  ion-content {
    background-color: #eee!important;
  }

  ion-list {
    ion-item {
      margin-bottom: 0.6rem!important;
      div.item-inner {
        border: none!important;
      }
      p {
        margin-bottom: 1rem!important;
        span {
          &:last-of-type {
            color: #2d2d2d;
            margin-left: 1rem;
          }
        }
      }
      ion-icon {
        color: $green-app;
      }
    }
  }

}
