<ion-header>
  <ion-navbar>
    <ion-title>退租管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="drawBack" (ionChange)="segmentChanged()">
      <ion-segment-button value="waitDeal">未处理</ion-segment-button>
      <ion-segment-button value="dealt">已处理</ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="drawBack">

    <ion-list *ngSwitchCase="'waitDeal'" no-lines>
      <div *ngIf="unrentList.length">
        <ion-item *ngFor="let item of unrentList">
          <div>
            <p><span>申请时间:</span><span>{{item.unrentTime}}</span></p>
            <p><span>联系方式:</span><span>{{item.makerPhone}}</span></p>
            <p><span>房源地址:</span><span>{{item.houseName}}</span></p>
            <div class="bottom-bar">
              <span>处理结果</span>
              <button *ngIf="item.status == 1" ion-button (click)="goDealDrawBack(item)">去结算</button>
            </div>
          </div>
        </ion-item>
      </div>
      <div *ngIf="!unrentList.length" class="nodata-tip">
        没有数据~
      </div>
    </ion-list>


    <ion-list *ngSwitchCase="'dealt'" no-lines>
      <div *ngIf="unrentList.length">
        <ion-item *ngFor="let item of unrentList" (click)="goDetailDrawBack(item)">
          <div>
            <p><span>申请时间:</span><span>{{item.unrentTime}}</span></p>
            <p><span>联系方式:</span><span>{{item.makerPhone}}</span></p>
            <p><span>房源地址:</span><span>{{item.houseName}}</span></p>
            <div class="bottom-bar">
              <span>处理结果</span>
              <span *ngIf="item.status == 20">审批中</span>
              <span *ngIf="item.status == 30">审批通过</span>
              <span *ngIf="item.status == 40">已打款</span>
            </div>
          </div>
        </ion-item>
      </div>
      <div *ngIf="!unrentList.length" class="nodata-tip">
        没有数据~
      </div>
    </ion-list>

  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
