<ion-header>
  <ion-navbar>
    <ion-title>签约管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="signList" (ionChange)="segmentChanged()">
      <ion-segment-button value="waitSign">未签约</ion-segment-button>
      <ion-segment-button value="signed">已签约</ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="signList">

    <ion-list *ngSwitchCase="'waitSign'" no-lines>
      <div *ngIf="lists.length">
        <ion-item *ngFor="let item1 of lists" (click)="onClickHouseDetail(item1)">
          <div item-left>{{item1.name}}</div>
          <div item-right>未签</div>
        </ion-item>
      </div>
      <div class="nodata-tip" *ngIf="!lists.length">
        没有数据~
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'signed'">
      <div *ngIf="lists.length">
        <ion-grid>
          <ion-row>
            <ion-col>房源地址</ion-col><ion-col>到期时间</ion-col>
          </ion-row>

          <ion-row *ngFor="let item2 of lists" (click)="onClickRentDetail(item2)">
            <ion-col>{{item2.name}}</ion-col><ion-col>{{item2.endtime}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="nodata-tip" *ngIf="!lists.length">
        没有数据~
      </div>
    </ion-list>

  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
