mailDetail {

  .list-ios {
    .item-ios {
      font-size: 1.4rem;
      border-bottom: 0.55px #e4e4e4 solid;
      &:not(:first-of-type, :nth-of-type(2)) {
        .label-ios {
          flex: 0.6;
        }
      }

      .item-inner {
        border: none;
        .input-wrapper {
          display: flex;
          justify-content: space-between!important;
        }
      }

      .label-ios {
        color: gray;
        .icon-ios {
          margin-right: 1rem;
        }
      }
      .datetime-ios {
        flex: 1;
        .datetime-text {
          margin-left: 1.4rem;
        }
        .label-ios {
          font-size: 1.4rem;
        }
      }
    }
  }
  .single-row {
    padding: 2rem;
    width: 100%;
    button {
      width: 100%;
    }
  }
  .label-ios + ion-input .text-input {
    padding-right: 0;
    text-align: right;
  }

}
