<ion-header>
  <ion-navbar>
    <ion-title>创客空间401室</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <div *ngIf="paymentList.length">
      <ion-item *ngFor="let item of paymentList" (click)="chargeDetail(item)">
        <p><span>缴费时间:</span><span>{{item.create_time}}</span></p>
        <p><span>缴费金额:</span><span>{{item.money}}元</span></p>
        <p><span>房源地址:</span><span>{{item.housename}}</span></p>
      </ion-item>
    </div>
    <div class="nodata-tip" *ngIf="!paymentList.length">
      没有数据~
    </div>
  </ion-list>
</ion-content>
