<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      家政服务
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="cleanList" (ionChange)="segmentChanged()">
      <ion-segment-button value="waitClean">
        未处理
      </ion-segment-button>
      <ion-segment-button value="dealed">
        已处理
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="cleanList">

    <ion-list *ngSwitchCase="'waitClean'" no-lines>
      <div *ngIf="waitCleanList.length">
        <ion-item *ngFor="let waitItem of waitCleanList" (click)="cleanDetail(waitItem)">
          <p><span>维修时间:</span><span>{{waitItem.needcleantime}}</span></p>
          <p><span>维修地址:</span><span>{{waitItem.house}}</span></p>
          <p><span>维修内容:</span><span>{{waitItem.cleanmsg}}</span></p>
        </ion-item>
      </div>
      <div class="nodata-tip" *ngIf="!waitCleanList.length">
        没有数据~
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'dealed'" no-lines>
      <div *ngIf="dealedCleanList.length">
        <ion-item *ngFor="let dealedItem of dealedCleanList" (click)="cleanDetail(dealedItem)">
          <div>
            <p><span>维修时间:</span><span>{{dealedItem.needcleantime}}</span></p>
            <p><span>维修地址:</span><span>{{dealedItem.house}}</span></p>
            <p><span>维修内容:</span><span>{{dealedItem.cleanmsg}}</span></p>
            <div class="bottom-bar">
              <span *ngIf="dealedItem.moneyok"><span>是否支付:</span><span>已付</span></span>
              <span *ngIf="!dealedItem.moneyok"><span>是否支付:</span><span>未付</span></span>
              <button *ngIf="!dealedItem.moneyok" ion-button (click)="callPay(dealedItem.id, $event)">催缴</button>
            </div>
          </div>
        </ion-item>
      </div>
      <div class="nodata-tip" *ngIf="!dealedCleanList.length">
        没有数据~
      </div>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
