chargeDetail {
  ion-list {
    ion-item {
      font-size: 1.5rem!important;
    }
  }

  ion-label {
    color: gray;
    span {
      color: #2d2d2d;
    }
  }

  .single-row {
    padding: 2rem;
    width: 100%;
    button {
      width: 100%;
    }
  }
}
