roomCosts {
  .list-ios {
    .item-ios {
      font-size: 1.4rem;
      p {
        margin-top: 0.6rem;
        &.redtip {
        color: #f53d3d;
          font-size: 1.2rem;
      }
      }
    }
  }

  .pay-money {
    span {
      &:first-child {
        padding-right: 1rem;
        border-right: 0.55px #eee solid;
        margin-right: 1rem;
      }
      &:nth-child(2) {
        width: 8rem;
        border: 0.55px #eee solid;
        border-radius: 6px;
        display: inline-block;
        padding: 0.3rem;
        color: gray;
        margin-right: 1rem;
      }
    }

  }
}
