<ion-header>
  <ion-navbar>
    <ion-title>
      详情
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <span>业主：</span><span>{{maker.name}}</span>
    </ion-item>
    <ion-item>
      <span>联系方式：</span><span>{{maker.mobiPhone}}</span>
    </ion-item>
    <ion-item>
      <span>账户：</span><span>{{rentinfo.housename}}</span>
    </ion-item>
    <ion-item>
      <span>房租价格：</span><span>{{style.rent_unit_price}}{{style.rent_unit_name}}&nbsp;&nbsp;&nbsp;&nbsp;押金：{{rentinfo.deposit}}元</span>
    </ion-item>
    <ion-item>
      <span>已缴纳到：</span><span>{{houseFullInfo.rentend}}</span>
    </ion-item>
    <ion-item>
      <span>房间标配置项：</span>
      <span><span *ngFor="let item1 of rentinfo.standarFurnitrues"><span *ngIf="!item1.needRent">{{item1.name}}、</span></span></span>
    </ion-item>
    <ion-item>
      <span>房间选配项：</span>
      <span><span *ngFor="let item2 of rentinfo.optionalFurnitrues"><span *ngIf="item2.needRent">{{item2.name}}({{item2.rentPrice}}{{item2.rentUnitName}})、</span></span></span>
    </ion-item>

  </ion-list>
</ion-content>
